<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
</style>

body{
 
    font-family: "Roboto Slab";
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}


img{
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 0.5s;
}

img:hover{
    transform: scale(1.1);
}
 p{
    text-align: center;
    background: darkgreen;
    width: 80%;
    margin: auto;
    font-size: 22px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-bottom: 30px;
 }
 p:hover{
    background-color: brown;
 }

 h3{
    width: 80%;
    margin:auto;
    background:  beige;
   padding: 20px;
   margin-top: 30px;
 }
 ul,ol{
    width: 80%;
    margin:auto;
    padding: 20px;
 }

 ol{
    background: beige;
 }

 a{
    background:orangered;
    color: white;
    padding: 20px;
    display:block;
    margin:40px auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
 }

 a:hover{
    background: green;
 }

 #maps {
   margin: 40px auto;
   width: 100%;
   height: 450px;
 }
  
#maps iframe {
   width: 100%;
   height: 100%;
  }

  #formContainer {
   width: 40%;
   background: rgb(86, 48, 61);
   padding: 50px 0;
   margin: auto;
   margin-top:auto;
  }

  #formcontainer form {
   width: 10px;
   margin: 40px auto;
  }
 
   label{
   display: block;
   margin-bottom: 50px;
   font-weight: bold;
   font-size: 24px;
   margin: auto;
   margin-left:150px;
  } 

  #Formcontainer input,textarea {
   display:block;
   border : 2px solid rgb(226, 226, 154);
   border-radius: 8px;
   height: 40px;
   padding: 10px;
   font-size: 24px;
   width: 80%;
   margin: auto;
   margin-bottom: 30px;
   }
   
  #formcontainer textarea {
   height: 100px;
   margin: auto;
  }

 input[type=submit] {
   background-color: yellow;
  }